<div class="event-container">
  <div class="event-title">Title</div>
  <span class="event-date">Date</span>
  <div class="game-list">
    <div class="game">
      <img class="game-image" src="https://cf.geekdo-images.com/itemrep/img/UxsyZBpFiBNPOppOQ7ILJde_YhY=/fit-in/246x300/pic3727516.jpg">
      <span class="game-title">Twilight Imperium</span>    
    </div>
    <div class="game">
      <img class="game-image" src="https://cf.geekdo-images.com/itemrep/img/e78ghAUynEP72jk7wVvrGRNTK8g=/fit-in/246x300/pic3113247.jpg">
      <span class="game-title">Great Western Trail</span>
    </div>
  </div>
    <button mat-raised-button color="secondary">Vote </button >
    <button mat-raised-button color="primary">Expand </button >
</div>